.hidden{
	display: none;
}

body, html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.container {
	display: flex;
	padding: 20px;
	height: calc(100% - 40px); /* Subtract top and bottom padding */
}

.right-section {
	width: 300px;
	background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
	height: 95%;
	padding : 20px;

}

.left-section {
	width: 300px;
	background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
	height: 23%;
	padding : 20px;

}


.center-section {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}


#login-form {
	box-sizing: border-box;

	flex-direction: column;
	margin-top: 100px;
}

#clock {
	align-self: center;
	font-size: 100px;
	color:aliceblue;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 10px;
	margin-top: -100px;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 텍스트 그림자 */
}

#greeting {
	align-self: center;
  font-weight:600;
  font-family: Tium;
  letter-spacing:-2px;
  font-size:30px;
	color:darkorange;

	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#weather {
	display: flex; /* Flexbox 레이아웃 사용 */
  align-items: center; /* 세로 방향으로 중앙 정렬 */

	align-self: center;
  font-weight:600;
  font-size:30px;
	color:aliceblue;
}

#weather div {
	display: flex;
	flex-direction: column;
}

#weather-icon{
	width: 120px;
	height: 120px;
	margin-right: 0px;
}

#weather-temp, #weather-city {
	display: block; /* span을 블록 요소로 설정하여 줄바꿈 */
}

#weather-temp{
	font-size:30px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#weather-city{
	margin-left: 10px;
	font-size:15px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#quote {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	bottom: 20px;
	font-weight:300;
  font-size:20px;
	color:aliceblue;

}

#login-name, #todo-input{
	padding: 10px 20px;
	border-radius: 50px;
	border: none;
	width: 90%;
	font-size: 16px;
	text-align: center;
}

#login-submit{
	background-color: #1d9bf0;
	color:white;
	font-weight:600;
	border:0;
	font-size:16px;
	padding: 10px;
	margin: 10px;
	text-transform:uppercase;
	border-radius:5px;
	cursor:pointer;
	width: 100%;
}

ul {
	list-style-type: none;
	margin-left:-30px;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

#todo-list {
	width: 100%;
  font-weight:300;
  font-size:25px;
	font-family: system-ui, -apple-system, "Roboto", sans-serif;

	color:gold;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#todo-list li {
	padding: 5px 0;
}

.delete-btn{
	background-color: transparent; 
	border: none;
  font-size:20px;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

}


/* exchange calculator */
.exchange-calculator {
  width: 100%;
	background-color: rgba(255, 255, 255, 0.7); /*Black background with 50% opacity */

  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;
}

.exchange-title {
  text-align: center;
  margin-bottom: 10px;
	font-weight:300;
  font-size:20px;
	font-family: tium, "Roboto", sans-serif;
	color:black;
}

.currency-input, .currency-output {
  display: flex;
  width: 100%; /* 전체 너비를 사용하도록 설정 */
}

.currency-select {
  flex-grow: 1;
  margin-right: 10px; 
	padding: 10px;
  font-size: 15px;
	opacity: 0.7;
}

.currency-input > .currency-select, .currency-output > .currency-select {
  flex-basis: 50%; /* 기본 너비를 50%로 설정 */
  flex-grow: 1; /* 남은 공간을 동등하게 분배 */
  text-align: center; /* 텍스트를 중앙 정렬 */
	font-size: 15px;
	
}

.currency-input > .currency-amount, .currency-output > .currency-amount {
  flex-basis: 50%; /* 기본 너비를 50%로 설정 */
  flex-grow: 1; /* 남은 공간을 동등하게 분배 */
  text-align: right; /* 텍스트를 중앙 정렬 */
	font-size: 15px;
}

.currency-amount {
  /* 다른 스타일 설정을 유지하면서 */
  flex-basis: 50%;
  text-align: right;
	opacity: 0.7;
}

.equals {
  text-align: center;
  font-size: 2em;
  margin: 0px;
}


@media (min-width: 1024px) {
	.left-section, .right-section {
			width: 400px; /* Width changes to 400px on desktop screens */
	}
}

